@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #ecece9;
}
::-webkit-scrollbar{
  display: none;
  scroll-behavior: smooth;
}

.MuiDataGrid-columnHeader{
  background-color:rgb(147 51 234);;
  padding:1vmax !important;
}
